{{template "base" .}}

{{define "main"}}
<div class="container">
    <h2>Confirmation #{{.ConfirmationCode}}</h2>

    {{ if .PNR.ReissueRequired }}
    <div class="alert alert-warning" role="alert">
        <strong>The tickets attached to your reservation have a different fare class than the segments in your reservation.</strong> If your departure date is approaching, this will likely prevent you from checking in, but you can contact Delta to request an immediate reissue of your ticket.
    </div>
    {{ end }}

    <hr />

 <table style="width: 650px; font-size: 16px;">
<tbody>
<tr>
<th colspan="2">DL RECORD LOCATOR {{.ConfirmationCode}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ETKT PRESENT-SEE ETR* and *TI</th>
</tr>

{{range .PNR.Passengers}}
<tr>
<td width="20px">{{.LastNIN}}.</td>
<th colspan="7">{{.Name}}</th>
</tr>
{end}}

<tr>
<th colspan="8">QTS1VRN1XTE/0G03/8675309/CHI/1V/T/US</th>
</tr>

{{range .PNR.Flights}}
<tr>
<td width="20px">1.</td>
<th colspan="7">{{.MarketingAirlineCode}}{{.FlightNumber}}{{.ClassOfService}} 27OCT1 {{.OriginAirportCode}}{{.DestinationAirportCode}} {{.CurrentActionCode}}1 &nbsp; 100P &nbsp; 430P &nbsp; STBY &nbsp; CI &nbsp;1B
<BR>&nbsp;&nbsp;OPERATED BY {{.OperatingAirlineCode}}/QUOTE AS DL CNXN
</th>
</tr>
{{end}}

<tr>
<th colspan="8">HA FAX- ** SSRS PRESENT ** UPGRADE DATA PRESENT &gt;*UPG</th>
</tr>

{{range .PNR.Passengers}}
<tr>
<th colspan="8">OSI DL FF{{.ID}}-{{.Name}} **{{.Status}}**</th>
</tr>
{{end}}

<tr>
<th colspan="8">GEN FAX- **SSRS PRESENT**</th>
</tr>

<tr>
<th colspan="8">TKT-TK/TE/TL30/17OCT1539/ATL</th>
</tr>

 {{range .SSRs}}
 <tr>
<th colspan="8">{{.Type}}-&nbsp;{{.Remark}}</th>
</tr>
{{end}}
                            

</tbody>
</table>
