{{template "base" .}}

{{define "main"}}
<div class="container">
     {{ if .PNR.ReissueRequired }}
    <div class="alert alert-warning" role="alert">
        <strong>The tickets attached to your reservation have a different fare class than the segments in your reservation.</strong> If your departure date is approaching, this will likely prevent you from checking in, but you can contact Delta to request an immediate reissue of your ticket.
    </div>
    {{ end }}
	<hr />

<strong>
<table style="width: 650px;" class="yellowtable">
<tbody>
<tr>
<td>DL RECORD LOCATOR {{.ConfirmationCode}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ETKT PRESENT-SEE ETR* and *TI</td>
</tr>

{{range .PNR.Passengers}}
<tr>
<td>{{.LastNIN}}. {{.Name}}</td>
</tr>
{{end}}

<tr>
<td>QTS1VRN1XTE/0G03/8675309/CHI/1V/T/US</td>
</tr>
<tr>

{{range .PNR.Flights}}
<td>&nbsp;{{.OperatingAirlineCode}}{{.FlightNumber}}{{.ClassOfService}} 27OCT1 {{.OriginAirportCode}}{{.DestinationAirportCode}} {{.CurrentActionCode}}1 &nbsp; 100P &nbsp; 430P &nbsp; STBY &nbsp; CI &nbsp;1B
</td>
</tr>
{{end}}



<tr>
<td>HA FAX- ** SSRS PRESENT ** UPGRADE DATA PRESENT &gt;*UPG</td>
</tr>


<tr>
<td>OSI DL FF99999999999 - TEST/PAX **XX**</td>
</tr>

<tr>
<td>GEN FAX- **SSRS PRESENT**</td>
</tr>

<tr>
<td>TKT-TK/TE/TL30/17OCT1539/ATL</td>
</tr>

 {{range .PNR.Remarks}}
                <tr>
                    <td>{{.RemarkType}} {{.FreeFormText}}</td>
                    
                </tr>
            {{end}}
 
               
    {{range .PNR.Tickets}}          
<tr>
<td>TKT >> {{.Number}} {{.NumCoupons}} {{.IssueDate}}
</td>                           
    </tr>                        
{{end}}

</tbody>

</table>

</strong>


    <div class="row">
      <div class="col">
        <h3>Flights</h3>
        {{range .PNR.Flights}}
 <!--           <h5><strong>{{.MarketingAirlineCode}}{{.FlightNumber}}</strong> {{.OriginAirportCode}} ✈️ {{.DestinationAirportCode}} <span class="badge bg-primary">{{.CurrentActionCode}}</span></h5>
            <table class="yellowtable">
                <tbody>
                    <tr>
                        <td><strong>Status</strong></td>
                        <td>{{.Status}}</td>
                    </tr>

                    <tr>
                        <td><strong>Scheduled Departure</strong></td>
                        <td>{{.ScheduledDeparture}}</td>
                    </tr>

                    <tr>
                        <td><strong>Scheduled Arrival</strong></td>
                        <td>{{.ScheduledArrival}}</td>
                    </tr>

                    <tr>
                        <td><strong>Distance</strong></td>
                        <td>{{.Distance}} mi</td>
                    </tr>

                    <tr>
                        <td><strong>Operating/Marketing Airline</strong></td>
                        <td>{{.OperatingAirlineCode}}/{{.MarketingAirlineCode}}</td>
                    </tr>

                    <tr>
                        <td><strong>Current Action Code</strong></td>
                        <td>{{.CurrentActionCode}}</td>
                    </tr>

                    <tr>
                        <td><strong>Previous Action Code</strong></td>
                        <td>{{.PreviousActionCode}}</td>
                    </tr>

                    <tr>
                        <td><strong>Upgrade Status</strong></td>
                        <td>{{.UpgradeStatus}}</td>
                    </tr>

                    <tr>
                        <td><strong>Class of Service</strong></td>
                        <td>{{.ClassOfService}}</td>
                    </tr>
                </tbody>
            </table> 
        {{end}}

        <h3>Passengers</h3>
        {{range .PNR.Passengers}}
            <div class="card">
                <div class="card-body">
                    {{if .CheckedIn}}
                    <h5>{{.Name}} <span class="badge bg-success">Checked In</span> <span class="badge bg-primary">{{.Status}}</span></h5>
                    {{else}}
                    <h5>{{.Name}} <span class="badge bg-secondary">Not Checked In</span> <span class="badge bg-primary">{{.Status}}</span></h5>
                    {{end}}
        
                  <h6>Filtered SSRs</h6>
                    <table class="table">
                        <tbody>
                            {{range .SSRs}}
                            <tr>
                                <td>{{.Type}}</td>
                                <td>{{.Code}}</td>
                                <td>{{.GivenNameNumber}}</td>
                                <td>{{.LastNameNumber}}</td>
                                <td>{{.SegmentNumber}}</td>
                                <td>{{.StatusCode}}</td>
                                <td>{{.AirlineCode}}</td>
                                <td>{{.LineNumber}}</td>
                               <td>{{.Remarks.Remark}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table> 
                </div>
            </div>
            <br />
        {{end}}
-->
       <h3>Fare</h3>
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>Total Fare</strong></td>
                    <td>{{.PNR.Fare.TotalFare}} {{.PNR.Fare.TotalCurrencyCode}}</td>
                </tr>

                <tr>
                    <td><strong>Base Fare</strong></td>
                    <td>{{.PNR.Fare.BaseFare}} {{.PNR.Fare.BaseCurrencyCode}}</td>
                </tr>

                <tr>
                    <td><strong>Total Taxes + Carrier-Imposed Fees</strong></td>
                    <td>{{.PNR.Fare.TotalTax}} {{.PNR.Fare.TotalCurrencyCode}}</td>
                </tr>

                <tr>
                    <td><strong>Estimated MQD</strong></td>
                    <td>{{.PNR.Fare.EstimatedMQD}} {{.PNR.Fare.BaseCurrencyCode}}</td>
                </tr>

                <tr>
                    <td><strong>Fare Basis Code</strong></td>
                    <td>{{.PNR.Fare.FareBasisCode}}</td>
                </tr>
            </tbody>
        </table>

        <h4>Taxes + Carrier-Imposed Fees</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Type</td>
                    <th scope="col">Amount</td>
                    <th scope="col">Is Carrier-Imposed</td>
                </tr>
            </thead>
            <tbody>
                {{range .PNR.Fare.TaxRows}}
                <tr>
                    <td><strong>{{.TaxType}}</strong></td>
                    <td>{{.Amount}} {{.Currency}}</td>
                    <td>{{.CarrierImposedFee}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
      </div>
 <!--     <div class="col">
        <h3>Remarks</h3>
        <table class="table">
            <tbody>
            {{range .PNR.Remarks}}
                <tr>
                    <td><strong>{{.RemarkType}}</strong></td>
                    <td>{{.FreeFormText}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
-->
        <h3>Tickets</h3>
        {{range .PNR.Tickets}}
        <div class="card">
            <div class="card-body">
                <h4>{{.Number}}</h4>

                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Type</strong></td>
                            <td>{{.Type}}</td>
                        </tr>

                        <tr>
                            <td><strong>Issue Date</strong></td>
                            <td>{{.IssueDate}}</td>
                        </tr>

                        <tr>
                            <td><strong>Expiration Date</strong></td>
                            <td>{{.ExpirationDate}}</td>
                        </tr>

                        <tr>
                            <td><strong>Passenger</strong></td>
                            <td>{{.PassengerName}}</td>
                        </tr>

                        <tr>
                            <td><strong># of Coupons in Ticket</strong></td>
                            <td>{{.NumCoupons}}</td>
                        </tr>

                        <tr>
                            <td><strong>Coupons Appear To Cover Entire PNR (experimental)</strong></td>
                            <td>{{.ValidatedAgainstCoupon}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        {{end}}

        <h3>Flags</h3>
        <table class="table">
            <tbody>
            {{range .PNR.Flags}}
                <tr>
                    <td><strong>{{.Name}}</strong></td>
                    <td>{{.Value}}</td>
                    <td>{{.Type}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
      </div>
    </div>
  </div>
{{end}}