{{template "base" .}}

{{define "main"}}
<div class="container">
    <h2>Confirmation #{{.ConfirmationCode}}</h2>

    {{ if .PNR.ReissueRequired }}
    <div class="alert alert-warning" role="alert">
        <strong>The tickets attached to your reservation have a different fare class than the segments in your reservation.</strong> If your departure date is approaching, this will likely prevent you from checking in, but you can contact Delta to request an immediate reissue of your ticket.
    </div>
    {{ end }}

    <hr />

    <div class="row">
      <div class="col">
        


        Test content test content

        
      </div>
    </div>
  </div>
{{end}}